body {
    margin: 0 0 0 0;
    width: 100%;
}
.container {
    width: 100%;
    /* background-color: #d6e5fd; */
}
/* .wrapper {
    width: 768px;
    margin: auto;
} */

div a {
    display: block;
    background: none;
    position: relative;
}

#div1 {
    width: 100%;
    aspect-ratio: 768 / 128;
    /* width: 768px;
    height: 128px; */
    background-image: url('images/MO/anua_특설페이지_MO_01.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#div2 {
    width: 100%;
    aspect-ratio: 768 / 652;
    /* width: 768px;
    height: 652px; */
    background-image: url('images/MO/anua_특설페이지_MO_02.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#div3 {
    width: 100%;
    aspect-ratio: 768 / 219;
    /* width: 768px;
    height: 219px; */
    background-image: url('images/MO/anua_특설페이지_MO_03.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}


#div4 {
    width: 100%;
    aspect-ratio: 768 / 1120;
    /* width: 768px;
    height: 1120px; */
    background-image: url('images/MO/anua_특설페이지_MO_04.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}
#link1 {
    width: 34.5%;
    height: 5.9%;
    top: 92%;
    left: 32.5%;
}

#div5 {
    width: 100%;
    aspect-ratio: 768 / 1227;
    /* width: 768px;
    height: 1227px; */
    background-image: url('images/MO/anua_특설페이지_MO_05.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#link2 {
    width: 34.5%;
    height: 5.9%;
    top: 90%;
    left: 32.5%;
}

#div6 {
    /* width: 768px;
    height: 670px; */
    width: 100%;
    aspect-ratio: 768 / 670;
    background-image: url('images/MO/anua_특설페이지_MO_06.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#link3 {
    width: 39.5%;
    height: 9.9%;
    top: 86%;
    left: 29.5%;
}

#div7 {
    width: 100%;
    aspect-ratio: 768 / 837;
    /* width: 768px;
    height: 837px; */
    background-image: url('images/MO/anua_특설페이지_MO_07.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#div8 {
    width: 100%;
    aspect-ratio: 768 / 461;
    /* width: 768px;
    height: 461px; */
    background-image: url('images/MO/anua_특설페이지_MO_08.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#div9 {
    /* width: 768px;
    height: 1034px; */
    width: 100%;
    aspect-ratio: 768 / 1034;
    background-image: url('images/MO/anua_특설페이지_MO_09.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

#link4 {
    width: 30.5%;
    height: 5.9%;
    top: 92%;
    left: 34.5%;
}

#div10 {
    width: 100%;
    aspect-ratio: 768 / 706;
    /* width: 768px;
    height: 706px; */
    background-image: url('images/MO/anua_특설페이지_MO_10.png');
    background-size: cover; /* 이미지가 div를 완전히 덮도록 크기를 조절합니다 */
    background-position: center; /* 이미지가 div의 중앙에 위치하도록 설정합니다 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
}

/* 미디어 쿼리: 화면 너비가 768 이상일 때 적용 */
@media screen and (min-width: 768px) {
    #div1 {
        /* width: 1100px;
        height: 186px; */
        width: 100%;
        aspect-ratio: 1100 / 186;
        background-image: url('images/PC/anua_특설페이지_PC_01.png');
    }

    #div2 {
        /* width: 1100px;
        height: 899px; */
        width: 100%;
        aspect-ratio: 1100 / 899;
        background-image: url('images/PC/anua_특설페이지_PC_02.png');
    }
    #div3 {
        width: 100%;
        aspect-ratio: 1100 / 195;
        /* width: 1100px;
        height: 195px; */
        background-image: url('images/PC/anua_특설페이지_PC_03.png');
    }
    #div4 {
        width: 100%;
        aspect-ratio: 1100 / 869;
        /* width: 1100px;
        height: 869px; */
        background-image: url('images/PC/anua_특설페이지_PC_04.png');
    }

    #link1 {
        width: 24.5%;
        height: 7.9%;
        top: 84%;
        left: 6.5%;
    }
    #div5 {
        width: 100%;
        aspect-ratio: 1100 / 910;
        /* width: 1100px;
        height: 910px; */
        background-image: url('images/PC/anua_특설페이지_PC_05.png');
    }

    #link2 {
        width: 24.5%;
        height: 7.9%;
        top: 87%;
        left: 54.5%;
    }

    #div6 {
        width: 100%;
        aspect-ratio: 1100 / 923;
        /* width: 1100px;
        height: 923px; */
        background-image: url('images/PC/anua_특설페이지_PC_06.png');
    }

    #link3 {
        width: 38.5%;
        height: 9.5%;
        top: 86%;
        left: 30.5%;
    }

    #div7 {
        width: 100%;
        aspect-ratio: 1100 / 1143;
        /* width: 1100px;
        height: 1143px; */
        background-image: url('images/PC/anua_특설페이지_PC_07.png');
    }
    #div8 {
        width: 100%;
        aspect-ratio: 1100 / 648;
        /* width: 1100px;
        height: 648px; */
        background-image: url('images/PC/anua_특설페이지_PC_08.png');
    }
    #div9 {
        width: 100%;
        aspect-ratio: 1100 / 1406;
        /* width: 1100px;
        height: 1406px; */
        background-image: url('images/PC/anua_특설페이지_PC_09.png');
    }

    #link4 {
        width: 29%;
        height: 6%;
        top: 91.5%;
        left: 35.5%;
    }


    #div10 {
        width: 100%;
        aspect-ratio: 1100 / 487;
        /* width: 1100px;
        height: 487px; */
        background-image: url('images/PC/anua_특설페이지_PC_10.png');
    }
}